.venv/
.pytest_cache/
__pycache__/
*.py[cod]
/output/
/input/
sample_output/
materials/input/*
!materials/input/template/
materials/input/template/*
materials/output/*
!materials/input/.gitkeep
!materials/input/template/.gitkeep
!materials/output/.gitkeep
